@model User

<div class="row">
    <div class="col-md-2">
    <div class="bg-white p-2">
        <img src="/img/@Model.UserImage" class="img-fluid" alt="">
     </div>
    </div>

    <div class="col-md-10">
    <div class="bg-white p-2">
     <h5>@Model.UserName</h5>
     <hr>
     <div class="posts">
        <h5>Posts</h5>
        <ul class="list-group">
            @foreach(var post in @Model.Posts) {
                <li class="list-group-item"><i class="bi bi-caret-right-fill"></i><a href="/posts/details/@post.PostUrl">@post.PostTitle</a></li>
            }
        </ul>
     </div>
     <div class="comments">
        <h5>Comments</h5>
        <hr>
        <ul class="list-group">
            @foreach(var comment in @Model.Comments) {
                <li class="list-group-item"><i class="bi bi-chat-right-text-fill"></i> @comment.CommentText <i><u>[comment.Post]</u></i> </li>
            }
        </ul>
     </div>
    </div>
    </div>
</div>